# Ignore old notebooks
notebooks/03_baseline_models.ipynb
notebooks/03_national_b.ipynb
notebooks/03_national.ipynb
notebooks/04_global_local.ipynb
notebooks/05_CV_ht.ipynb
notebooks/sktime.ipynb
notebooks/03_national_b.ipynb
notebooks/04_global_local.ipynb
notebooks/05_CV_ht.ipynb
catboost_info/
results/national_old/
